:root {
    --bg-color: #ddd;
    --text-color: #333;
    --border-color: #222;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    user-select: none;
}

main {
    flex: 1;
}

input, pre {
    user-select: text;
}

label, input {
    display: block;
    margin: 1rem auto auto;
}

input {
    height: 2rem;
    width: 30ch;
    font-family: inherit;
    background: inherit;
    color: inherit;
    border: var(--border-color) solid 1px;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
}

button {
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    background: var(--bg-color);
    color: var(--text-color);
    border: var(--border-color) solid 1px;
    outline: none;
}

button:hover {
    background: var(--border-color);
    color: var(--bg-color);
}

#errorDiv, #copyDiv {
    margin: 2rem auto auto;
    width: 75vw;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.5rem;
    display: none;
}

#errorDiv {
    background: rgba(255, 0, 0, 0.22);
}

#copyDiv {
    background: rgba(0, 255, 0, 0.22);
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--border-color);
}

pre {
    background: rgba(0, 0, 0, 0.22);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem auto auto;
    width: fit-content;
    max-width: 80%;
    overflow: auto;
}

.outputLinks a {
    margin: 1rem;
    padding: 0.5rem;
}

.invert {
    background: var(--text-color);
    color: var(--bg-color);
}

.invert:hover {
    background: var(--bg-color);
    color: var(--text-color);
}

#outputWrapper {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333;
        --text-color: #ddd;
        --border-color: #fff;
    }
}

@media (max-width: 600px) {
    .outputLinks a{
        display: block;
    }
}
